* {
	box-sizing: border-box;
	margin: 0px;
}

body {
	width: 1020px;
	margin: auto;
	font-family: 'Lato';

}

.contacts {
	overflow: hidden;
	height: 654px;
	background-color: #f06c64;
	border-bottom: 6px solid #ea676b;
	padding-left: 40px;
	padding-right: 40px;
}

.contacts h2 {
 	font-size: 30px;
 	color: #f0d8d9;
 	padding-top: 60px; 
 	letter-spacing: 0.5px;
}

.contacts p {
	color: #f0d8d9;
	padding-top: 17px;
	font-size: 18px;
	letter-spacing: -0.2px;
	line-height: 1.7;
}

.container_contacts {
	width: 100%;
	display: flex;
	justify-content: space-between;

}

.contact_form {
	padding-top: 44px;
	width: 620px;	
}

input[type=text], input[type=email], textarea {
    width: 620px;
	padding: 12px;
	margin: 0 15px 15px 0;
    background-color: #d6564f;
    border-radius: 5px;
    color: #f0d8d9;
    resize: vertical;
	position: left;
	border: none;
    outline: none;
}

textarea::-webkit-input-placeholder {
	color: #f08586;
	opacity: 1;
	font-size: 12px;
	font-family: 'Lato';
}

input[type=text]:focus {
	background-color: #ba4a44;
	color: #f0d8d9;
} 

input[type=email]:focus {
	 background-color: #ba4a44;
	 color: #f0d8d9;
}

textarea:focus {
	background-color: #ba4a44;
	color: #f0d8d9;
}

::placeholder { 
	color: #f08586;
	font-size: 12px;
}

::-ms-input-placeholder {
    color: #f08586;
}

.comment {
	height: 200px;

}

button {
	border-radius: 4px;
	background-color: #ba4a44;
	color: #f0d8d9;
	border: 1px solid #f0d8d9;
	height: 30px;
	width: 70px;
	float: right;	
}

button:hover {
	background-color: #f0d8d9;
	color: #ba4a44;
	border: 1px solid #ba4a44;
	outline: none;
}

.contact_info {
	padding-top: 40px;
	width: 300px;
	color: #f0d8d9;
}

.contact_info p {
	padding-top: 10px;
	text-align: justify;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	letter-spacing: -0.3px;
	line-height: 1.8;
}


.contact_info a{
	display: block;
	font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}

.socials_link {
	padding-top: 20px;
}

.socials_link img {
	padding: 0px 10px 0 0;

}

.loc {
	width: 18px;
}

footer {
	width: 1020px;
    height: 76px;
    margin: 0 auto;
    background-color:#2d303a;
}

.footer {
	width: 940px;
    height: 76px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
	font-size: 12px;
	padding-left: 2px;
    line-height: 6px;
    color: #666d89;
    font-weight: 400;
    text-align: left;
}

.footer_socials {
	height: 32px;
	width: 153px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
}